.coming-soon {
    padding: 60px 20px;
    text-align: center;
    background: #ffffff;
    border-radius: 16px;
    max-width: 420px;
    margin: 0 auto;
}

.coming-soon__icon {
    margin-bottom: 30px;
}

.coming-soon__icon img {
    max-width: 100%;
    height: auto;
}

.coming-soon__text {
    color: #666666;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}
